# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [3]:
num_int = 6

print(num_int)
print(type(num_int))

6
<class 'int'>

##### Assinging float

In [4]:
num_float = 6.12

print(num_float)
print(type(num_float))

6.12
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [14]:
num1 = 2
num2 = 5
result = num1 + num2
print(result)
result = result + 3
print(result)

7
10

##### Subtraction

In [15]:
result_diff = num1 - num2
print(result_diff)

-3

##### Multiplication

In [17]:
result_prod = num1 * num2
print(result_prod)

result_prod *= 2

print(result_prod)

10
20

##### Division

In [19]:
result_div = 10/num1
print(result_div)


result_div /= 2
print(result_div)

5.0
2.5

##### Floor Division

In [24]:
# sometimes referred to as integer division

result_floor = 19 // 5
print(result_floor)


result_floor //= 2
print(result_floor)

3
1

##### Modulo

In [27]:
#returns the remainder of the division equation

result_mod = 19 % 5
print(result_mod)

result_mod %= 3
print(result_mod)

4
1

##### Exponential

In [21]:
square = 5 ** 2
print(square)

square **= 3
print(square)

25
15625

### String Input-Output

##### String Assignment

In [28]:
name1 = "Elise"
print(name1)
print(type(name1))

Elise
<class 'str'>

In [31]:
quote1 = "Python is awesome"
print(quote1)

Python is awesome

In [29]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [30]:
contraction1 = "You can't do that'
print(contraction1)

SyntaxError: EOL while scanning string literal (2655133033.py, line 1)

##### Escape Characters

In [34]:
print('You can\'t do that')

You can't do that

In [35]:
print("Hello
      how are you?")

SyntaxError: EOL while scanning string literal (4225023477.py, line 1)

In [36]:
print("hello \
how are you?")

hello how are you?

In [38]:
# \n - new line character
print("Hello \nHow are you?")

Hello
How are you?

In [39]:
# \t - tab character
print("Hello \tHow are you?")

Hello 	How are you?

In [40]:
# Raw String
print(r"Hello\n how are you?")

Hello\n how are you?

##### String Concatenation

In [46]:
first_name = "Elise"
last_name = "Stawarski"
full_name = first_name + ' ' + last_name
print(full_name)

full_name += ", Cats." #full_name + full_name + ", Cats."
print(full_name)

Elise Stawarski
Elise Stawarski, Cats.

In [44]:
num_a = 10
num_b = '10'

add = num_a + num_b

print(add)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##### Type Conversion

In [56]:
num_b_int = int(num_b)
print(num_b,type(num_b))
print(num_b_int, type (num_b_int))
add = num_b_int + num_a
print(add)

10 <class 'str'>
10 <class 'int'>
20

In [57]:
num_a_str = str(num_a)

print(num_a, type(num_a))
print(num_a_str, type(num_a_str))

print(num_a_str + num_b)

10 <class 'int'>
10 <class 'str'>
1010

##### .format() and f-strings

In [61]:
# string.format(*values)

name = "Elise"
age = 100
home = "Chicago"

print("Hello my name is {} and I am {} and I live in {}".format(name, age, home))

Hello my name is Elise and I am 100 and I live in Chicago

##### Old Way (python 2)

In [62]:
print("Hello my name is %s and I am from %s" & {name, home})

TypeError: unsupported operand type(s) for &: 'str' and 'set'

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [73]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

year_1 = int(year) + 1 
print(year_1, type(year_1))

print(f"I drive a {color} {year_1} {make} {model}.")

2023 <class 'int'>
I drive a blue 2023 Ford Focus.

### Booleans

In [74]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

### If Statements

In [75]:
# if <expression>:
#     <statement>
#    EXECUTe the indented lines


if True:
    print("hello this is true")

hello this is true

In [76]:
if False:
    print("hello this false")

In [78]:
print("start of code")

if False:
    print('hello')
    print('How are you?')
    print('Good, you?')
    
print('end of code.')

start of code
end of code.

In [ ]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

In [88]:
num1 = 20
num2 = 5
num3 = 2

print(num1 < num2)


if num1 > num2:
    print('num1 is greater than num2')

False
num1 is greater than num2

## Using 'and'/'or' with If Statements

In [89]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F



if num1 < num2 and num < num3:
    print('Both conditions are true')

### Else Statements

In [90]:
# An else statement runs when the if statement above it evaluates to False

required_height = 60
rider_height = 72

if rider_height >= required_height:
    print('enjoy the ride')
    
else: 
    print('Sorry, you are not tall enough to ride :(')

enjoy the ride

### Elif Statements

In [95]:
# An elif only runs when the if (or elif) directly above it evaluates to False
required_age = 18
with_a_parent = 14

movie_goer_age = 15
has_parent = True

if movie_goer_age >= required_age:
    print('Enjoy the film!')

elif movie_goer_age >= with_a_parent and has_parent:
    print('You may enjoy this movie with adult supervision')
    
else:
    print('You are not old enough to see this film')

You may enjoy this movie with adult supervision

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [110]:
ticket = 10
person_age = 1

if person_age >= 65:
    print(f"Your ticket price is ${ticket*0.75}.")

elif person_age < 9:
    print(f"Your ticket price is ${ticket*0.5}.")

else:
    print(f"Your ticket price is ${ticket}.")
    
    

#person_age = 72 # Output: Your ticket is $7.50
#person_age = 47 # Output: Your ticket is $10
#person_age = 8 # Output: Your ticket is $5.00

Your ticket price is $5.0.

### Lists

##### Declaring Lists

In [123]:
l_1 = [] # Empty list decoration

print(l_1)
print(type(l_1))

names = ['Max', 'Cindy', 'Kathy','Bob', 'Frank','Natalie', 'Jim']
print(names)
print(type(names))

[]
<class 'list'>
['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim']
<class 'list'>

##### Indexing a List

In [128]:
# list[index]
#list[start:stop]
# list[start: stop: step] 


#print the list starting at index 2 and end at index 5
print(names[2:6])

#print the list starting at index 2 and going to the end
print(names[2:])

#print the list starting at the beginning and going to the 5th index
print(names[:6])


#print the list starting at index 2 and ending at index 5 and only every other name
print(names[1:6:2])

#every other element
print(names[::2])

#reverse the list
print(names[::-1])

['Kathy', 'Bob', 'Frank', 'Natalie']
['Kathy', 'Bob', 'Frank', 'Natalie', 'Jim']
['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie']
['Cindy', 'Bob', 'Natalie']
['Max', 'Kathy', 'Frank', 'Jim']
['Jim', 'Natalie', 'Frank', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [129]:
# list.append(value_to_append) = adds value to end of the list

print(names)
names.append('Brian')
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim']
['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim', 'Brian']

##### .insert()

In [131]:
# list.insert(index,value)

print(names)
names.insert(2,'Michael')
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim', 'Brian']
['Max', 'Cindy', 'Michael', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim', 'Brian']

##### .pop()

In [132]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

print(names)

my_name = names.pop()

print(names)

['Max', 'Cindy', 'Michael', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim', 'Brian']
['Max', 'Cindy', 'Michael', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim']


##### .remove()

In [139]:
# value to be removed , not index

##### del()

In [136]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

del names[2]

##### Concatenating Two Lists

In [140]:
# will append two lists together, not add up the elements in each list


list_1 = [1,2,3]
list_2 = [4,5,6]

combo_list = list_1 + list_2

print(combo_list)

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [147]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ['Natalie', 'Elise', 'Leah', ['Sally', 'Susan', 'Tamaka']]
print(names)

['Natalie', 'Elise', 'Leah', ['Sally', 'Susan', 'Tamaka']]

### For Loops

In [150]:
# for <keyword> in <iterable>:
#     <statement>
print("Code start")
#iterable is anything that will have ???

for x in [5,10,15,20]:
    print(x)
    print("Hello the x variable is equal to:", x)
    
print("Code end")

Code start
5
Hello the x variable is equal to: 5
10
Hello the x variable is equal to: 10
15
Hello the x variable is equal to: 15
20
Hello the x variable is equal to: 20
Code end

In [151]:
full_name = "Elise Cats"

for letter in full_name:
    print(letter)

E
l
i
s
e

C
a
t
s

##### Continue Statement

In [ ]:
# will continue to next iteration

In [153]:
for num in [1,2,3,4,5,6,7,8,9,10]:
    if num == 5:
        continue
    print(num)

1
2
3
4
6
7
8
9
10

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
for num in [1,2,3,4,5,6,7,8,9,10]:
    if num == 5:
        break
    print(num)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
people = ['Ryan', 'Mickey', 'Janet', 'Catherine']

for name in names:
    # TODO send each user an email
    pass
print(people)

##### Nested/Double For Loops

In [159]:
nums = [2,4,6,8,10]

for i in nums:
    print(i)
    for j in nums:
        print(f"i = {i}, j = {j}")

2
i = 2, j = 2
i = 2, j = 4
i = 2, j = 6
i = 2, j = 8
i = 2, j = 10
4
i = 4, j = 2
i = 4, j = 4
i = 4, j = 6
i = 4, j = 8
i = 4, j = 10
6
i = 6, j = 2
i = 6, j = 4
i = 6, j = 6
i = 6, j = 8
i = 6, j = 10
8
i = 8, j = 2
i = 8, j = 4
i = 8, j = 6
i = 8, j = 8
i = 8, j = 10
10
i = 10, j = 2
i = 10, j = 4
i = 10, j = 6
i = 10, j = 8
i = 10, j = 10

### While Loops

In [ ]:
# while <conditional>:
#     <statement to run while condition is true>

my_super_kool_num = 0

while my_super_kool_num < 10:
    print(my_super_kool_num)
    my_super_kool_num +=1

##### Looping 'While True'

In [ ]:
x = 0

while x < 20:
    if x % 5 == 0:
        continue
    print(x)
    X += 1

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

help/list

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [179]:
list_num = []
for num in range(1,100):
    print(num**3)
    if num**3 == 1000:
        break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [311]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for prime in range(2,101):
    for other_num in range(2,prime):
        if prime % other_num == 0:
            break
    else:
        print(prime)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [310]:
person_age = 80

if person_age < 18:
    print(f"You're a kid!")

elif person_age > 18 and person_age <= 65:
    print(f"You're an adult!")

else:
    print(f"You're a senior!")

You're a senior!